<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>
<body>
<button id="priser" hx-get="/priser" hx-trigger="click" hx-target="#product-container" hx-swap="innerHTML">
    Trykk for priser
</button>
<button _="on click set innerHTML of #product-container to ''">
    Trykk for å fjerne priser
</button>
<div id="product-container"></div>


</body>
</html>